<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cz2006ver2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CZ2006ver2">
        <activity
            android:name=".ConnectGroup.JoinCreateGrpActivity"
            android:exported="false" />
        <activity
            android:name=".ConnectGroup.JoinCreateGrp2Activity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage8"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage7"
            android:exported="false" />
        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".Transport.Transport2"
            android:exported="false" />
        <activity
            android:name=".Transport.Transport4"
            android:exported="false" />
        <activity
            android:name=".Transport.Transport3"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNoR7AIF4jdZf373KbA1K_St9Eyy09GmA" />

        <activity
            android:name=".Transport.Transport1"
            android:exported="false"
            android:label="@string/title_activity_trans1" />
        <activity
            android:name=".Account.GroupDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".LoginRegister.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".Account.SwitchGroupActivity"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarTaskActivity"
            android:exported="false" />
        <activity
            android:name=".TestTransportAPI"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarCaretakerActivity2"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarCaretakerActivity"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarDayActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePageCompletedActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage5"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage6"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage4"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage3"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage2"
            android:exported="false" />
        <activity
            android:name=".Account.ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Account.AccountMainActivity"
            android:exported="false" />
        <activity
            android:name=".Account.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarMainActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage.HomePage1"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".ConnectGroup.YourCodePageActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".ConnectGroup.GroupNamePageActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".ConnectGroup.ConnectPageActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".ConnectGroup.GroupselectionActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".LoginRegister.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".testActivity1"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".LoginRegister.LoginActivity"
            android:exported="false" />
        <activity
            android:theme="@style/Theme.CZ2006ver2HOTOME"
            android:name=".LoginRegister.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>