<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cz2006ver2">

    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CZ2006ver2">
        <activity
            android:name=".TestTransportAPI"
            android:exported="false" />
        <activity
            android:name=".CalendarCaretakerActivity2"
            android:exported="false" />
        <activity
            android:name=".CalendarCaretakerActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarDayActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage5"
            android:exported="false" />
        <activity
            android:name=".HomePage6"
            android:exported="false" />
        <activity
            android:name=".HomePage4"
            android:exported="false" />
        <activity
            android:name=".HomePage3"
            android:exported="false" />
        <activity
            android:name=".HomePage2"
            android:exported="false" />
        <activity
            android:name=".ViewProfileActivity"
            android:exported="false" />
        <activity
            android:name=".AccountMainActivity"
            android:exported="false" />
        <activity
            android:name=".CalendarMainActivity"
            android:exported="false" />
        <activity
            android:name=".HomePage1"
            android:exported="false" />
        <activity
            android:name=".YourCodePageActivity"
            android:exported="false"
            android:theme="@style/Theme.CZ2006ver2HOTOME" />
        <activity
            android:name=".GroupNamePageActivity"
            android:exported="false"
            android:theme="@style/Theme.CZ2006ver2HOTOME" />
        <activity
            android:name=".ConnectPageActivity"
            android:exported="false"
            android:theme="@style/Theme.CZ2006ver2HOTOME" />
        <activity
            android:name=".GroupselectionActivity"
            android:exported="false"
            android:theme="@style/Theme.CZ2006ver2HOTOME" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.CZ2006ver2HOTOME" />
        <activity
            android:name=".testActivity1"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.CZ2006ver2HOTOME" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CZ2006ver2HOTOME">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>